footer .container-footer{
    padding-bottom: 158px;
}

footer .container-footer .footer-top-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container-footer .footer-top-div .name-of-footer{
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: left;
    color: #19191B;
    width: 523px;
}

footer .container-footer .footer-top-div .footer-top-btns{
    width: 346px;
    display: flex;
    align-items: center;
}

footer .container-footer .footer-top-div .footer-top-btns .footer-top-btn{
    background: #F7F7FB;
    color: #19191B;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.83px;
    letter-spacing: -0.5002105832099915px;
    padding: 18px 0;
    width: 175px;
    border: none;
}
footer .container-footer .footer-top-div .footer-top-btns .footer-top-btn:hover{
    background: #5454D4;
    color: #FFFFFF;
}

footer .container-footer .footer-top-div .footer-top-btns .foot-btn1{
    border-radius: 10px 0px 0px 10px;
}

footer .container-footer .footer-top-div .footer-top-btns .foot-btn2{
    border-radius: 0px 10px 10px 0px;
}

footer .container-footer .footer-cards{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 82px;
}

footer .container-footer .footer-cards .footer-card{
    position: relative;
    width: 330px;
    height: 441px;
    padding: 34px 27px 24px 24px;
    border-radius: 5px;
    background: #F8F8F8;
    text-align: center;
    transition: .5s;
    cursor: pointer;
}

footer .container-footer .footer-cards .footer-card footer-card-title{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5627369284629822px;
    color: #696871;
    margin-bottom: 22px;
}

footer .container-footer .footer-cards .footer-card .footer-card-price{
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034482717514038px;
    margin-top: 22px;
    margin-bottom: 28px;
    color: #1D293F;
}

footer .container-footer .footer-cards .footer-card .footer-card-access{
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5314737558364868px;
}

span{
    font-size: 28px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034482717514038px;
    text-align: center;
}

footer .container-footer .footer-card:hover
{
    background: #FF7143;
    color: #FFFFFF;
    width: 376px;
    height: 473px;
}

footer .container-footer .footer-cards .footer-card:hover .footer-card-price{
    color: #FFFFFF;
}

.footer-card:hover
.footer-btn{
    background: #9F3919;
    color: #FFFFFF;
}

.footer-btn{
    padding: 19px 52px;
    width: 201px;
    background: #EAE9F2;
    color: #5454D4;
    border: none;
    border-radius: 7px;
}