@import "./header.css";
@import "./navbar.css";
@import "./section1.css";
@import "./section2.css";
@import "./footer.css";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

ul, ol{
    list-style: none;
}

button{
    transition: .5s;
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.btn{
    background: #FF7143;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    line-height: 22.13px;
}

.btn:hover{
    background-color: #5454D4;
}